.aboutMe{
    
    font-size:1.5rem;
    color:$grey;
    &__container{
        font-size: 1.5rem;
       max-width: 900px;
       margin:auto;  
    }
    &__social-icons{
        display: flex;
        flex-direction: row;
        gap:10px;
        justify-content: center;
        align-items: center;
        svg{
            width:30px;
            background-color: $light-red;
            padding:10px;
            border-radius: 8px;
        }
    }
    &__line{
        border-top:2px solid $light-red;
        width:150px;
    }  
}
